<!-- app-sync></app-sync -->
<app-welcome *ngIf="!currState.product_available"
  [customerPresent]="currState.customer_present"
  (customerSessionStart) = "customerSessionStart()"
  (scanCode) = "scanCode($event)"
></app-welcome>

<div *ngIf="currState.product_available" class="main">

  <app-product
    [product]="product"
    (buyProduct)="buyProduct(url)"
    (reset)="reset()"
  ></app-product>

  <app-photo-mgr
    [photos]="currState.photos"
    (takePhoto)="takePhoto()"
    (sharePhotos)="sharePhotos(photos)"
  ></app-photo-mgr>

</div>
