app-product, app-photo-mgr {
  display: flex;
  flex-direction: column;
  height: 100%;    
  align-item: flex-end; 
  }

h3 {
  font-size: 2em;
  }

.main {
  height: 100%;
  }

div.main {
  display: flex;
  justify-content: space-between;
  }

.top, .bottom {
  display: flex;
  padding: 0 10px;
  flex-direction: column;
}

.top {
  align-self: flex-start;
  flex: 1;
  }

.bottom {
  align-self: flex-end;
  width: 80%;
  }

