<app-sync 
  [product]="currState.product"
  [syncStatus]="currState.sync_status"
  [syncToPhone]="currState.endpoint.sync_to_phone"
  (connectionMade)="connectionMade($event)"
  (connectionLost)="connectionLost()"
></app-sync>
<app-welcome *ngIf="!currState.product.name"
  [product]="currState.product"
  [customerPresent]="currState.customer_present"
  (customerSessionStart) = "customerSessionStart()"
  (scanCode) = "scanCode($event)"
></app-welcome>

<div *ngIf="currState.product.name" class="main">

  <app-product
    [product]="currState.product"
    [syncStatus]="currState.sync_status"
    (buyProduct)="buyProduct($event)"
    (reset)="reset()"
  ></app-product>

  <app-photo-mgr
    [photos]="currState.photos"
    (takePhoto)="takePhoto()"
    (sharePhotos)="sharePhotos()"
  ></app-photo-mgr>

</div>
