<app-sync *ngIf="currState.sync_status ==='pairing'"
  (connectionMade)="connectionMade($event)"
></app-sync>
<!-- img src="https://api.qrserver.com/v1/create-qr-code/?data=HelloWorld&size=400x400"/ -->
<app-welcome *ngIf="!currState.product_available"
  [customerPresent]="currState.customer_present"
  (customerSessionStart) = "customerSessionStart()"
  (scanCode) = "scanCode($event)"
></app-welcome>

<div *ngIf="currState.product_available" class="main">

  <app-product
    [product]="currState.product"
    (buyProduct)="buyProduct($event)"
    (reset)="reset()"
  ></app-product>

  <app-photo-mgr
    [photos]="currState.photos"
    (takePhoto)="takePhoto()"
    (sharePhotos)="sharePhotos(photos)"
  ></app-photo-mgr>

</div>
